version: "3.8"

services:
  backend:
    build:
      context: ./backend-node
    env_file:
      - .env
    expose:
      - "3030"

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend-dist:/usr/share/nginx/html
      - ./certbot/www:/var/www/certbot
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend

